.vehicle-card {
  display: flex;
  flex-direction: column; /* Elementos apilados verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0; /* Espaciado superior e inferior para la tarjeta */
}

.vehicle-card img {
  width: 80%; /* Ajusta la imagen al 80% del ancho de la tarjeta */
  max-width: 300px; /* El máximo ancho que puede tener la imagen */
  border-radius: 10px; /* Bordes redondeados para la imagen */
  margin-bottom: 20px; /* Espaciado debajo de la imagen */
}

.vehicle-info {
  text-align: center; /* Texto centrado para la información del vehículo */
  margin-bottom: 20px; /* Espaciado debajo de la información */
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  max-width: 1200px;
  margin: 40px auto;
  grid-template-areas:
    "title title title title"
    "img img dates dates"
    "img img dates dates"
    "calendar calendar calendar calendar"
    "button button button button";
}

.title {
  grid-area: title;
  font-size: 24px;
  color: #333;
  text-align: center;
}

.img {
  grid-area: img;
}

.img img {
  width: auto;
  max-height: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.dates,
.calendar {
  padding: 15px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

.button {
  grid-area: button;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.btn-primary {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
  background-color: #218838;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "img"
      "dates"
      "calendar"
      "button";
  }

  .img img {
    max-height: 150px;
    margin: auto; /* Centra la imagen */
  }
}
