.container {
  display: flex;
  height: 100vh; /* Ajuste para que ocupe toda la altura de la ventana */
  width: 100vw; /* Ajuste para que ocupe toda la anchura de la ventana */
}

.image-container {
  flex: 0 0 60%; /* Ajuste para que la imagen ocupe un 40% fijo del espacio sin reducirse ni crecer */
  background: url('../../../../../assets/images/vehigo-high-resolution-logo.png') no-repeat center center;
  background-size: contain; /* Ajuste para que la imagen se muestre completa */
}

.form-wrapper {
  flex: 1; /* Ajuste para que el formulario ocupe el espacio restante */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
}

.form-container {
  width: 100%; /* Ajuste para que el formulario ocupe el 90% del .form-wrapper */
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}



.form-content {
  width: 40%; /* Ancho para el formulario */
  display: flex;
  justify-content: center;
  align-items: center;
}



.icon-primary{
    width: 30%;
}

/* Establece un fondo general suave para el formulario */
form {
    background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de opacidad */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  /* Estilo para las etiquetas de los campos de formulario */
  .form-label {
    color: #333;
    font-weight: bold;
  }
  
  /* Estilo para los campos de entrada */
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  /* Estilo para el texto de ayuda */
  .form-text {
    color: #6c757d;
    font-size: 0.875em;
  }
  
  /* Estilo para el botón de envío */
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  
  /* Cambio de estilo al pasar el ratón sobre el botón */
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  /* Estilo para el checkbox */
  .form-check-input {
    margin-right: 5px;
  }
  
  /* Estilo para la etiqueta del checkbox */
  .form-check-label {
    color: #333;
  }
  
  /* Añade un poco de espacio alrededor de los elementos del formulario */
  .mb-3 {
    margin-bottom: 16px;
  }

  input.ng-invalid.ng-touched {
    border: solid 2px rgba(239, 48, 48, 0.335) !important
}

.container-title{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.container-title img{
  width: 40%;
}

.error-message {
  color: #dc3545; /* Color rojo para el mensaje */
  font-size: 0.875rem; /* Tamaño de fuente */
  margin-top: 0.5rem; /* Margen superior */
}

  