header {
  background-color: #007BFF; /* Un tono azul */
  color: white;
  padding: 10px 0;
  margin-bottom: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo img, .session-icons img {
  height: 40px;
}

.hamburger img {
  height: 30px;
  color: white;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #34D399; /* Un tono verde */
}

.hamburger {
  display: none;
  background: none;
  border: none;
}
.button-container {
  text-align: center;
}

.btn {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login {
  background-color: #007BFF; /* Azul */
  color: white;
}

.login:hover {
  background-color: #0056b3; /* Azul más oscuro */
}

.register {
  background-color: #34D399; /* Verde */
  color: white;
}

.register:hover {
  background-color: #12b886; /* Verde más oscuro */
}
.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Estilos para las iniciales y el botón de cerrar sesión */
.session-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-initials-link {
  text-decoration: none;
}

.user-initials {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #495057; /* Un color de fondo más neutro */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.logout {
  background-color: #dc3545; /* Color rojo para indicar acción de cerrar sesión */
  color: white;
  font-weight: bold;
  transition: background-color 0.3s;
}

.logout:hover {
  background-color: #c82333; /* Un rojo más oscuro al pasar el ratón */
}

/* Ajustes para la bienvenida y la sesión icons */
.session-icons span {
  color: white; /* Asegura que el texto sea blanco y visible */
  margin-right: 10px; /* Añade un margen a la derecha del texto */
}




@media (max-width: 768px) {
  .navbar ul {
      flex-direction: column;
      display: none;
  }

  .navbar ul li {
      text-align: center;
      margin: 5px 0;
  }

  .hamburger {
    display: block; /* Asegura que el botón sea visible en todas las resoluciones */
    background: none;
    border: none;
    color: white;
  }

  .session-icons {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
  .session-icons span,
  .session-icons .btn {
    display: block; /* Asegura que los elementos se muestren correctamente en líneas separadas */
  }
  .logo a img {
    max-height: 50px; /* Ajusta según el tamaño deseado */
    width: auto;
  }
}
