<header>
    <div class="header-container">
        <div class="logo">
            <a [routerLink]="['/home/main']"><img src="../../../../assets/images/vehigo-high-resolution-logo-white-transparent.png" alt="Logo"></a>
        </div>
        <nav class="navbar">
            <ul id="nav-list">
                <li *ngFor="let item of mainMenu.defaulOptions">
                    <a [routerLink]="item.router">{{ item.name }}</a>
                </li>
            </ul>
        </nav>
        <div class="session-icons">
            <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                <a [routerLink]="['/home/user/details']" class="user-initials-link">
                  <div class="user-initials">{{ initials }}</div>
                </a>
                <button (click)="logout()" class="btn logout">Cerrar sesión</button>
            </ng-container>
            <ng-template #notLoggedIn>
                <button [routerLink]="['/auth/login']" class="btn login">Iniciar Sesión</button>
                <button [routerLink]="['/auth/register']" class="btn register">Registrarse</button>
            </ng-template>
        </div>
        <button class="hamburger" id="hamburger">
            <img src="../../../../assets/icons/bars.svg" alt="">
        </button>
    </div>
</header>
